.parallax
  picture.parallax__layer-buda(data-speed="0.1")  
     img(src=require("images/content/budda/background.png") alt="").parallax__image-buda
  picture.parallax__layer-buda(data-speed="0.4")
     img(src=require("images/content/budda/2layer.png") alt="").parallax__image-buda
  picture.parallax__layer-buda(data-speed="0.5")
     img(src=require("images/content/budda/budda.png") alt="").parallax__image-buda
  picture.parallax__layer-buda(data-speed="0.15")
     img(src=require("images/content/budda/4layer.png") alt="").parallax__image-buda
  picture.parallax__layer-buda(data-speed="0.23")
     img(src=require("images/content/budda/5layer.png") alt="").parallax__image-buda
  picture.parallax__layer-buda(data-speed="0.28")
     img(src=require("images/content/budda/6layer.png") alt="").parallax__image-buda