.parallax
    picture.parallax__layer(data-speed="0.1")
      source(media="(min-width: 1801px)" type="image/jpg" srcset=require("images/content/parallax/2560_1.jpg"))
      source(media="(min-width: 1201px)" type="image/jpg" srcset=require("images/content/parallax/1800_1.jpg"))
      source(media="(min-width: 769px)" type="image/jpg" srcset=require("images/content/parallax/1200_1.jpg"))
      source(media="(min-width: 768px)" type="image/jpg" srcset=require("images/content/parallax/768.jpg"))
      img(src=require("images/content/parallax/768.jpg") alt="").parallax__image    
    picture.parallax__layer(data-speed="0.10")
      source(media="(min-width: 1801px)" type="image/png" srcset=require("images/content/parallax/2560_2.png"))
      source(media="(min-width: 1201px)" type="image/png" srcset=require("images/content/parallax/1800_2.png"))
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/1200_2.png"))
      img(src="" alt="").parallax__image
    picture.parallax__layer(data-speed="0.45")
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/balloon.png"))
      img(src="" alt="").parallax__image    
    picture.parallax__layer(data-speed="0.20")
      source(media="(min-width: 1801px)" type="image/png" srcset=require("images/content/parallax/2560_4.png"))
      source(media="(min-width: 1201px)" type="image/png" srcset=require("images/content/parallax/1800_4.png"))
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/1200_4.png"))
      img(src="" alt="").parallax__image   
    picture.parallax__layer(data-speed="0.15")
      source(media="(min-width: 1801px)" type="image/png" srcset=require("images/content/parallax/2560_5.png"))
      source(media="(min-width: 1201px)" type="image/png" srcset=require("images/content/parallax/1800_5.png"))
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/1200_5.png"))
      img(src="" alt="").parallax__image  
    picture.parallax__layer(data-speed="0.15")
      source(media="(min-width: 1801px)" type="image/png" srcset=require("images/content/parallax/2560_6.png"))
      source(media="(min-width: 1201px)" type="image/png" srcset=require("images/content/parallax/1800_6.png"))
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/1200_6.png"))
      img(src="" alt="").parallax__image   
    picture.parallax__layer(data-speed="0.23")
      source(media="(min-width: 1801px)" type="image/png" srcset=require("images/content/parallax/2560_7.png"))
      source(media="(min-width: 1201px)" type="image/png" srcset=require("images/content/parallax/1800_7.png"))
      source(media="(min-width: 769px)" type="image/png" srcset=require("images/content/parallax/1200_7.png"))
      img(src="" alt="").parallax__image